[config]
schemaVersion = "0.0.1"


[package]
namespace = "SMarBe"
name = "Improved_Boon_Info_UI"
versionNumber = "1.4.0"
description = "Improves the boon requirement UI by adding clear colors that show which boons are already picked, available, or unavailable due to requirements."
websiteUrl = "https://github.com/SMarechalBE/Hades-2-Improved-Boon-Info-UI"
containsNsfwContent = false

[package.dependencies]
Hell2Modding-Hell2Modding = "1.0.87"
LuaENVY-ENVY = "1.2.0"
SGG_Modding-Chalk = "2.1.1"
SGG_Modding-ReLoad = "1.0.2"
SGG_Modding-SJSON = "1.0.0"
SGG_Modding-ModUtil = "4.0.1"


[build]
icon = "./icon.png"
readme = "./README.md"
outdir = "./build"

[[build.copy]]
source = "./CHANGELOG.md"
target = "./CHANGELOG.md"

[[build.copy]]
source = "./LICENSE"
target = "./LICENSE"

[[build.copy]]
source = "./src"
target = "./plugins"

[publish]
repository = "https://thunderstore.io"
communities = [ "hades-ii", ]

[publish.categories]
hades-ii = [ "mods", "misc", ]
